<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <form action="{{ url_for('register') }}" method="POST">
            <h4>Sign Up</h4>
            <div class="inputbox">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="username" id="username" required>
                <label for="username">Username</label>
            </div>
            <div class="inputbox">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="first_name" id="first_name" required>
                <label for="first_name">First Name</label>
            </div>
            <div class="inputbox">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="last_name" id="last_name" required>
                <label for="last_name">Last Name</label>
            </div>
            <div class="inputbox">
                <i class="fa-regular fa-envelope"></i>
                <input type="email" name="email" id="email" required>
                <label for="email">Email</label>
            </div>
            <div class="inputbox">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password" id="password" required>
                <label for="password">Password</label>
            </div>
            <div class="inputbox">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="confirm_password" id="confirm_password" required>
                <label for="confirm_password">Confirm Password</label>
            </div>
            <button type="submit">Submit</button>
            <div class="login">
                <p>Already have an account? <a href="/login">Sign In</a></p>     
            </div>
        </form>
    </div>
</body>
</html>
